body{
    background-color: rgb(15, 106, 15);
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }

h1{
    font-family: "Lobster", cursive;
    font-size: 5rem;
    color: rgb(220, 222, 224);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.809);
}

p{
    font-family: "Lobster";
    font-size: 2rem;
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.809);
}

.dice {
  text-align: center;
  display: inline-block;

}

img {
    width: 80%;
}

footer {
    margin-top: 5%;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
}